@using LT.DigitalOffice.GUI.Properties
@using LT.DigitalOffice.GUI.Services.ApiClients.ProjectService

<EditForm Model="@ProjectRequest" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />

    <p class="general-info-title" >@Resources.ProjectGeneralInfo</p>
    <div style="display: flow-root; margin-bottom: 25px;">
        <div class="additional-content">
            <label for="full-name">
                @Resources.ProjectName <font color="red">*</font>
            </label>
            <div id="full-name">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="@Resources.ProjectFullNameInputPlaceholder"
                    aria-label="Username" 
                    aria-describedby="basic-addon1" 
                    @bind="ProjectRequest.Name">
                <ValidationMessage style="font-size: 0.7em;" For="() => ProjectRequest.Name" />
            </div>
            <div class="short-description-input">
                <label for="short-description">
                    @Resources.ProjectShortDescription
                </label>
                <textarea  
                    rows="5"
                    id="short-description"
                    class="form-control"
                    aria-label="With textarea" 
                    @bind="ProjectRequest.ShortDescription"
                    placeholder="@Resources.ProjectShortDescriptionInputPlaceholder" >
                </textarea>
                <ValidationMessage style="font-size: 0.7em;" For="() => ProjectRequest.ShortDescription" />
            </div>
        </div>
        <div class="main-content">
            <label for="short-name">
                @Resources.ProjectShortName <font color="red">*</font>
            </label>
            <div id="short-name">
                <input 
                    type="text" 
                    class="form-control" 
                    aria-label="Username" 
                    aria-describedby="basic-addon1" 
                    @bind="ProjectRequest.ShortName"
                    placeholder="@Resources.ProjectShortNameInputPlaceholder">
                <ValidationMessage style="font-size: 0.7em;" For="() => ProjectRequest.ShortName" />
            </div>
            <div style="display:grid">
                <label for="status">
                    @Resources.ProjectStatus <font color="red">*</font>
                </label>
                <div id="status" class="btn-group">
                    <button 
                        id="dropdown-status" 
                        type="button" 
                        class="btn btn-primary dropdown-toggle" 
                        data-toggle="dropdown"
                        aria-haspopup="true" 
                        aria-expanded="true">
                        @ProjectRequest.Status.ToString()
                    </button>
                    <div class="dropdown-menu">
                        <a 
                            class="dropdown-item" 
                            href="javascript:void(0)" 
                            @onclick="@(() => ProjectRequest.Status = ProjectStatusType.Active)">
                                @ProjectStatusType.Active
                        </a>
                        <a 
                            class="dropdown-item" 
                            href="javascript:void(0)" 
                            @onclick="@(() => ProjectRequest.Status = ProjectStatusType.Closed)">
                            @ProjectStatusType.Closed
                        </a>
                        <a 
                            class="dropdown-item" 
                            href="javascript:void(0)" 
                            @onclick="@(() => ProjectRequest.Status = ProjectStatusType.Suspend)">
                            @ProjectStatusType.Suspend
                        </a>
                    </div>
                </div>
            </div>
            <div class="department-input">
                <label for="department">
                    @Resources.ProjectDepartment <font color="red">*</font>
                </label>
                <div id="department" class="btn-group">
                    <button 
                        id="dropdown-department" 
                        type="button" 
                        class=@(_departmentValue == null ? 
                                "btn btn-primary dropdown-toggle not-selected-department"  :  
                                "btn btn-primary dropdown-toggle")
                        data-toggle="dropdown"
                        aria-haspopup="true" 
                        aria-expanded="false">
                        @(_departmentValue ?? Resources.ProjectDepartmentDropdownPlaceholder)
                    </button>
                    <div class="dropdown-menu">

                        @if (@_departments is not null)
                        {
                            @foreach (var department in @_departments)
                            {
                                <a 
                                    class="dropdown-item" 
                                    href="javascript:void(0)" 
                                    @onclick="@(() => { _departmentValue = department.Name; ProjectRequest.DepartmentId = department.Id; })">
                                    @department.Name
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <label for="description">
        @Resources.ProjectDescription
    </label>
    <textarea 
        id="description" 
        placeholder="@Resources.ProjectDescriptionInputPlaceholder" 
        class="form-control" 
        aria-label="With textarea"
        rows="4" 
        @bind="ProjectRequest.Description">
    </textarea>
    <ValidationMessage style="font-size: 0.7em;" For="() => ProjectRequest.Description" />
    <button type="submit" class="btn btn-primary">@Resources.ProjectModalNextButton</button>
</EditForm>
